body{
/*	margin: 0;	
	padding: 0;	
	height: 100%;	
	width: 100%;	*/

background-image: url(../img/back.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right bottom;
background-color: black;

}

h1 {
  color: red;
}

h2 {
  color: blue;
}

h3 {
  color: green;
}

img.tbt{
width: 350px;
height: 250px;
}
img.lbt{
width: 350px;
height: 250px;
}
img.rbt{
background-attachment: fixed;
background-position: right;
width: 200px;
height: 150px;
}
img.kbt{
width: 100px;
height: 40px;
}

video{
	width: 350px;
}
table{
width: 80%;
border-collapse: collapse;
}
th{
width: 16%;
padding: 6px;
text-align: left;
vertical-align: top;
color: red;
background-color: black;
border: 1px solid #b9b9b9;
}
td{
padding: 6px;
color: white;
background-color: black;
border: 1px solid #b9b9b9;
}

